:root{
    --light-grey-color:lightgrey;
    --black-color:black;
    --azure-color:azure;
    --skyblue-color:skyblue;
    --secondary: rgba(0, 0, 0, 0.19);
    --tertiary:honeydew;
    --primary:skyblue;
}

.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#header{
    display: flex;
    justify-content: space-around;
    background-color: var(--black-color);
    margin: .3rem;
    color: var(--white-color);
    border-radius: .4rem;
}

.imp{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 20rem;
    padding: .5rem;
}

.badge{
    position: absolute;
    padding: .2rem .3rem .2rem .3rem;
    top: 0;
    margin-top: .5rem;
    margin-left: -.5rem;
    border-radius: 50%;
    background-color: var(--skyblue-color);
}



.container{
    align-items: center;
    padding: 0 2rem 1rem 2rem;
    margin: 1rem 0rem 0rem 35% ;

    background-color: var(--secondary);
    height: max-content;
    width: 20rem;
}
.sign-up{
    display: flex;
    flex-direction: column;
    height: max-content;

}

.center-text{
    text-align: center;
    margin: .1rem;
}


#submit{
    background-color: var(--primary);
}



ul{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding-left: .2rem;
}


#sign-up{
    background-color: var(--tertiary);
    width: 50%;
    text-align: center;
    text-decoration: none;
}

@media only screen and (max-width: 820px) {

    html{
        font-size: 10px;
        width: 98%;
    }

}
