:root{
    --light-grey-color:lightgrey;
    --black-color:black;
    --azure-color:azure;
    --darkgray:darkgray;
    --skyblue-color:skyblue;
}
.body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#header{
    display: flex;
    justify-content: space-around;
    background-color: var(--black-color);
    margin: .3rem;
    color: var(--azure-color);
    border-radius: .4rem;
}

.search{
    border-radius: .4rem;
    margin: .8rem;
    background-color: var(--darkgray);
    color: var(--azure-color) ;
}

.imp{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 20rem;
    padding: .5rem;
}

.badge{
    position: absolute;
    padding: .2rem .3rem .2rem .3rem;
    top: 0;
    margin-top: .5rem;
    margin-left: -.5rem;
    border-radius: 50%;
    background-color: var(--skyblue-color);
}



.container{
    margin: 2rem 0rem 0rem 33%;
    display: flex;
    align-items: center;

    padding: 3rem;

    background-color: var(--light-grey-color);
    height: max-content;
    width: 40vh;
}
.sign-up{
    display: flex;
    flex-direction: column;
    height: max-content;

}

.info{
    padding-left: 1.8rem;
}

.center-text{
    text-align: center;
    margin: 1rem;
}
#email,
#p-w,
#submit{
    padding: .4rem;
}

#submit{
    background-color: var(--skyblue-color);
}

.flex{
    display: flex;
    justify-content: space-around;
}



ul{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding-left: 10px;
}


#login{
    background-color: var(--azure-color);
    width: 50%;
    text-align: center;
    text-decoration: none;
}
