*{
    box-sizing: border-box;
}

:root{
    --light-grey-color:lightgrey;
    --black-color: black;
    --white-color: white;
    --dark-gray-color: darkgray;
    --azure-color: azure;
    --whitesmoke-color: whitesmoke;
    --alice-blue-color: aliceblue;
}

.container{
    width: 100%;
    background-color: var(--white-color);
}
#header{
    display: flex;
    justify-content: space-around;
    background-color: var(--black-color);
    margin: .3rem;
    color: var(--white-color);
    border-radius: .4rem;
}

.search{
    border-radius: .4rem;
    margin: .8rem;
    background-color: var(--dark-gray-color);
    color: var(--azure-color) ;
}
.imp{
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 20rem;
    padding: .5rem;
}

.badge{
    position: absolute;
    padding: .2rem .3rem .2rem .3rem;
    top: 0;
    margin-top: .5rem;
    margin-left: -.5rem;
    border-radius: 50%;
    background-color: var(--skyblue-color);
}

.body{

    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 65%;
}



.cont{
    display: flex;
    padding: 1rem;
    gap: 3rem;
    position: relative;
    background-color: var(--light-grey-color);

}

.clothing1{
    width: 50vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 2rem;
    gap: 2rem;
    justify-content: space-around;
    
    
}

.clothing2{
    width: 55vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
    
}

.wish1{
    width: 100%;
    position: relative;
    background-color:var(--white-color);
}

.wish2{
    width: 100%;
    display: flex;
    height: max-content;
    margin-left: 3rem;
}

.add-wish{
    background-color:blue;
    border-radius: 50%;
    padding: .4rem;
    position: absolute;
    top: 0;
    right: 0;
    margin-top: .5rem;
    margin-right: .5rem;
}


img{
    width: 15rem;
    height: 30rem;
}

.data{
    width: 100%;
    text-align: center;
    background-color: var(--black-color);
    color:var(--white-color) ;
    padding: .3rem;
    display: block;
}

.data2{
    width: 55%;
    height: 30rem;
    padding: 1rem;
    background-color: var(--black-color);
    color: var(--white-color);
    display: block;

}

.btn{
    width: 100%;
    margin: .3rem;
    display: flex;
}

.sidenav{
    position: absolute;
    flex-shrink: calc(2);
    right: 0;
    width: 15%;
}

#p-range{
    width: 85%;
}

.range{
    display: flex;
    justify-content: space-between;
    width: 85%;
}



@media only screen and (max-width: 1153px) {

    html{
        font-size: 10px;
        width: 100%;
    }

    .sidenav{
        width: 15%;
    }

}

@media only screen and (max-width: 765px) {

    html{
        font-size: 5px;
        width: 95%;
    }
    

}

@media only screen and (max-width: 450px) {

    html{
        font-size: 3px;
        width: 95%;
    }
    
    .btn{
        font-size: 5px;
    }
}
